###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

*.dae   binary
*.obj   binary
*.mtl   binary